*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
.vscode/

.sonarlint
launch.json
.pytest_cache/
geckodriver.log

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov
coverage_html_report/

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

# Apple Desktop Services Store files
.DS_Store

# Configuration Files
.Python
.idea/
include/
pip-selfcheck.json
share/
.cache/
.tags
.tags1
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
coverage.xml
nosetests.xml
htmlcov
.mypy_cache/
reports/

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build
# Apple Desktop Services Store files
.DS_Store

# Configuration Files
.Python
.idea/
include/
pip-selfcheck.json
share/
.cache/
.tags
.tags1
*.pyc
venv/*
.pyenv
__pycache__
*.swp

# Jupyter Notebooks
.ipynb_checkpoints/*
notebooks/*
*.ipynb

# media files
media/

geckodriver.log
